.btn{
    background-color: #4caf50;
}
input[type=text]:not(.browser-default){
    border-bottom-color: white;
    color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom-color: white;
}
#home-container{
    background-color: #4caf50;
    padding: 30px;
    border-radius: 5px;
}
.section-title{
    font-weight: 700;
    font-size: 20px;
}